input[type='text'] {
  border: 1px solid var(--red--kenyan-copper);
  color: var(--red--kenyan-copper);
  font-size: 14px;
  font-weight: bold;
  padding: 6px 10px;
  line-height: 1;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Helvetica, Arial, sans-serif;
  vertical-align: middle;

  &:disabled {
    background-color: var(--green--white-rock);
    color: var(--yellow--sisal);
  }
}
