:root {
  --white: #fff;
  --black: #000;

  --blue--black-marlin: #393744;
  --yellow--sisal: #c7c7a7;
  --green--white-rock: #d9d3b9;
  --red--geraldine: #e78866;
  --red--kenyan-copper: #6f2f34;
}
